
body{
  margin: 0;
  padding: 0;
  color: rgb(252, 252, 252);
  background-color: beige;
  font-family: Tahoma, sans-serif;
}

#ziak{
  text-align: center;
}

/* Début navbar */
.navbar-nav .nav-item .nav-link {
  color: #fff; /* Couleur de texte par défaut */
  transition: color 0.3s; /* Transition pour une animation fluide */
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(229, 189, 9); /* Couleur de texte jaune au survol */
}
.navbar {
  font-size: 20px;
  padding: 15px;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(35 126 132) !important;
}

.container {
  max-width: 1200px; /* Largeur maximale de la barre de navigation */
  flex-direction: column;
}

.navbar-nav {
  list-style: none; /* Supprimer les puces de la liste */
  padding: 0; /* Supprimer les marges internes de la liste */
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  flex-direction: row;
  z-index: 1;
}

.nav-item {
  margin-right: 20px; /* Espacement entre les éléments */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 255 255);
}

.nav-link.active {
  font-weight: bold; /* Mettre en gras le lien actif */
}
ul.navbar-nav.ml-auto {
  margin-left: 100px;
}
/* fin navbar */

/* début Head */

.hOne{
  font-size: 29px;
}

.head{
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 400px;
  width: 100%;
  color: white;

}

.head:before{
  content: " ";
  position: absolute;
  top: -75px;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(35 126 132);
  transform: skew(0deg, 6deg);

}
.head:after{
  content: " ";
  position: absolute;
  top: -75px;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(35 126 132);
  transform: skew(0deg, -6deg);
  z-index: -888888;

}

/* fin head */
/* début about me */
.presentation{
  width: 60%;
  margin: auto;
  border: solid;
  border-radius: 9px;
  padding: 25px;
}
/* fin about me */
/* début projects */
#zim{
  width: 90%;
  margin: auto;
}
.card-image {
  width: 100%;
  height: auto; /* Pour maintenir le ratio de l'image */
}
.card-body{
  align-items: center;
}

/* fin projects */
/* début RÉA BOOTSTRAP */

#zua{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  margin: auto;
}

img[src="image/me.png"] {
  height: 400px;
  border-radius: 5px;
  box-shadow: black 0px 0px 5px 0px;
}

