
body{
  margin: 0;
  padding: 0;
  color: rgb(252, 252, 252);
  background-color: beige;
  font-family: Tahoma, sans-serif;
}
  body {
    overflow-x: hidden;
  }

  .app{
    overflow-x: hidden;
  }

  #zutele{
    text-decoration: none;
  }

#ziak{
  text-align: center;
}

/* Début navbar */
.navbar-nav .nav-item .nav-link {
  transition: color 0.3s; /* Transition pour une animation fluide */
}
button.nav-link.active {
  color: rgb(35 126 132);
  background-color: beige; 
  padding: 12px;
  border-radius: 2.8px; 
}
button.nav-link.active:hover { 
  transform: rotate(3.1deg);
  transition: 0.4s; 
} 

.navbar { 
  font-size: 20px; 
  padding: 15px;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(7, 140, 149) !important;
}

.container {
  max-width: 1200px; /* Largeur maximale de la barre de navigation */
  flex-direction: column;
}

#zotopi{
  color: rgb(7, 140, 149);
}
.navbar-nav {
  list-style: none; /* Supprimer les puces de la liste */
  padding: 0; /* Supprimer les marges internes de la liste */
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  flex-direction: row;
  z-index: 1;
}

.nav-item {
  margin-right: 20px; /* Espacement entre les éléments */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 255 255);
}

.nav-link.active {
  font-weight: bold; /* Mettre en gras le lien actif */
}
ul.navbar-nav.ml-auto {
  margin-left: 100px;
}
/* fin navbar */

/* début Head */

.hOne{
  font-size: 29px;
}

.head{
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 400px;
  width: 100%;
  color: white;

}

.head:before{
  content: " ";
  position: absolute;
  top: -75px;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(7, 140, 149);
  transform: skew(0deg, 6deg);

}
.head:after{
  content: " ";
  position: absolute;
  top: -75px;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(7, 140, 149);
  transform: skew(0deg, -6deg);
  z-index: -888888;

}

.bukateh{
  margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    background-size: 200% auto;
    color: #ffffff;
    background-image: linear-gradient(to right, #DA22FF 20%, #9733EE 51%, #DA22FF 80%);
    box-shadow: 0 0 2px #000000;
    border-radius: 10px;
    display: block;
    width: 55%;
    margin: auto;
}

/* fin head */
/* début about me */
.presentation{
  width: 60%;
  margin: auto;
  font-family: cursive;
  border: solid rgb(7, 140, 149);
  border-radius: 9px;
  padding: 25px;
}
/* fin about me */
/* début projects */
.col-md-6 {
  width: 38%;
  margin: auto;
}
#zim{
  width: 90%;
  margin: auto;
}
.card-image {
  width: 100%;
  height: auto; /* Pour maintenir le ratio de l'image */
}
.card-body{
  align-items: center;
  color: beige;
  background-color: rgb(7, 140, 149);
}
#sapala {
  color: beige;
  background-color: rgb(7, 140, 149);
}
/* fin projects */
/* début exp */
.ziak{
  display:flex;
  margin: auto;
  width: 50%;
  
}
.z0 {
  margin: auto;
  width: 100;
  display: flex;
}
/* fin exp */
.footer {
  background-color: rgb(7, 140, 149);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.card-footer{
  align-items: center;
  background-color: rgb(7, 140, 149);
  text-align: center;
}

#footamba{
  text-decoration: none;
;
  color: beige;
}
/* début RÉA BOOTSTRAP */

#zua{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  margin: auto;
}

img[src="image/me.png"] {
  height: 400px;
  border-radius: 5px;
  box-shadow: black 0px 0px 5px 0px;
}

/* Media Queries */

/* Media query pour les écrans de moins de 800px */
@media screen and (max-width: 800px) {

  #app{
    overflow-x: hidden;
  }

  img[src="image/me.png"]{
    height: 100px;
  }
  .navbar-nav{
    flex-direction: inherit;
    align-self: start;
    margin-right: 30px;
  }

  ul.navbar-nav.ml-auto {
    margin-left: 120px;
    margin-right: 15px;
  }
  .nav-item {
    margin-left: auto;
  }
  .presentation {
    width: 90%;
  }
  #zua {
    display: contents;
  }
  .col-md-6 {
    width: 78%;
  }

  .head:before{
    display: none;
  }
  .head:after{
    display: none;
  }
  .head{
    background-color: rgb(7, 140, 149) !important;
  }
  button.nav-link.active {
    width: 150px;
  }

}
